<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <span class="brand-text font-weight-light">Kejaksaan Tinggi Sumsel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar"
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
          <li class="nav-header">PAGES</li>
          <li class="nav-item">
            <a href="/admin" class="nav-link active">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p>Analisis</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/pegawai" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p>Data Pegawai</p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>