{% extends "admin/layouts/main.html.twig" %}

{% block container %}

<div class="row">
  <div class="card p-4 col-12 ms-sm-auto">
    {# <h1 class="card-title">Data Pegawai</h1> #}
    <div class="card-body">
      <h1 class="mb-5">Edit Data Pegawai</h1>
      {# <form action="/admin/tambah/post" method="post"> #}
      {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
      {# </form> #}
      {{ form_end(form) }}
    </div>
  </div>
  {% endblock %}